.slider_custom .slick-arrow{
    display: none !important;
}



.main_container{
    padding-top: 10px;
}
.fixed_image{
    background-image: url(https://bengkelthemethemes5e401.zapwp.com/q:i/r:0/wp:1/w:1/u:https://bengkeltheme.themesawesome.com/wp-content/uploads/sites/10/2015/05/about-bg.jpg);
    background-position: center center;
    /* background-size: cover; */
    background-attachment: fixed;
    padding: 80px;
}
.fixed_image_heading{
    background-color: #ffffff;
    text-align: center;
}
.row_container{
    background: #103b7a;
    color: #fff;
    padding: 30px;
    margin-bottom: 30px;
}
 .Heading_Name {
    color: #f9c937;
}

.Review{
    background-image: url(https://bengkelthemethemes5e401.zapwp.com/q:i/r:0/wp:1/w:1/u:https://bengkeltheme.themesawesome.com/wp-content/uploads/sites/10/2015/05/testimonial-section-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 80px;
}

.Latest_News{
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.Brand_partner{

}

.Heading_3{
   
    background-position: center center;
    background-size: cover;
    
}
.FIxed_Image_Postion{
    text-align: center;
}
