blockquote {
    padding: 10.5px 21px;
    margin: 0 0 21px;
    font-size: 17.5px;
    border-left: 5px solid #eeeeee;
    background: #f4f4f4;
    font-size: 14px;
    
}
.image_2_2{
    padding-bottom: 40px;
}
.image_1_1{
    padding-bottom: 40px;
}
small{
    color: #07a0dc;
    font-size: 14px;
    box-sizing: border-box;
    font-weight: bold;

}
.who{
    color: #103b7a;
    margin-top: 0;
    margin-bottom: 1rem;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    color: #103b7a;
    font-size: 18px;
}